@{
    ViewBag.Title = "J.R. Smith's MVC App";
}

<body>
    <img src="~/img/SurfinJR.jpg" />
    <br />
    <br />
    <p>
        I hope to gain a superb understanding of how to develop web applications. The cloud is the platform for just about any app for a company that's worth their salt, so I want to learn how to develop online. I interned for a company that had a web app with great functionality, but horrible execution and UI. I'd like to learn how I could improve this app or create a better one.
        <br />
        <br />
    </p>
    <label class="label">The top 3 jobs I'm interested in:</label>
    <ol>
        <li>VP of Products or Chief Product Officer</li>
        <li>Systems Architect</li>
        <li>Chief Data Officer</li>
    </ol>
    <br />
    <br />
    <br />

    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/wwwroot/js/grades.js"></script>
</body>